<div class="card">
    <div class="card-body">
        <form action="" method="post">
            <label for="nome">Nome: </label>
            <input type="text" name="nome" class="form-contol">
        </form>
    </div>
</div>