<div class="card">
    <div class="card-body">
        <h3>Categorias: </h3>
        {{#each categorias}}

        <a href="/categorias/{{slug}}">
            <h5>{{nome}}</h5>
        </a>

        {{else}}


        {{/each}}
    </div>
</div>